h2, h3 {
    font-family: 'roboto-medium', sans-serif;
    color: #290661;
}

.categories {
    min-height: 121px;
}

.popup-income {
    height: 184px;
}

.add-link {
    height: calc(max(100%, 121px));
    cursor: pointer;
}