body {
    color: #052C65;
}

.container h1 {
    font-family: 'roboto-medium', sans-serif;
}

.date-input:focus {
    outline: none;
}

.container {
    box-sizing: border-box;
}

/*.chart-container {*/
/*    width: 437px;*/
/*    height: 467px;*/
/*}*/

/*.chart-container canvas {*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*}*/
